{{#*inline "page"}}
<div class="board">
    <div style="font-size: large;">
        <form action="/zufang" method="GET">
            <div class="search-container">
                <input type="text" name="q" id="q" placeholder="请输入搜索内容...">
                <input class="search-button" type="submit" id="searchinput" value="搜索" style="display: inline-block;">
            </div>
            <br>
            <div id="more-filters" style="display: none;">
            <div>房型: <input type="text" name="f" id="f"></div> <br>

            <div> 楼层:
                <!-- 为每个radio按钮添加name属性 -->
                <label><input type="radio" name="c" value="1" class="srd" {{preload.c.[1]}}>底层</label>
                <label><input type="radio" name="c" value="2" class="srd" {{preload.c.[2]}}>低楼层</label>
                <label><input type="radio" name="c" value="3" class="srd" {{preload.c.[3]}}>中楼层</label>
                <label><input type="radio" name="c" value="4" class="srd" {{preload.c.[4]}}>高楼层</label>
                <label><input type="radio" name="c" value="5" class="srd" {{preload.c.[5]}}>顶层</label>
            </div>

            <br>

            <div> 面积:
                <!-- 为每个radio按钮添加name属性 -->
                <label><input type="radio" name="m" value="1" class="srd" {{preload.m.[1]}}>50m<sup>2</sup>以下</label>
                <label><input type="radio" name="m" value="2" class="srd" {{preload.m.[2]}}>50-70m<sup>2</sup></label>
                <label><input type="radio" name="m" value="3" class="srd" {{preload.m.[3]}}>70-90m<sup>2</sup></label>
                <label><input type="radio" name="m" value="4" class="srd" {{preload.m.[4]}}>90-110m<sup>2</sup></label>
                <label><input type="radio" name="m" value="5" class="srd" {{preload.m.[5]}}>110-150m<sup>2</sup></label>
                最小面积: <input type="text" name="bm" id="bm">
                最大面积: <input type="text" name="em" id="em">
            </div> <br>

            <div>最低价格: <input type="text" name="bp" id="bp">
                最高价格: <input type="text" name="ep" id="ep"></div><br>

            <div>主要设施: <input type="text" name="s" id="s"></div> <br>
            <button type="button" onclick="clearSelection('srd')">清除选择</button>
            </div>

            <!-- 提交按钮 -->
            <button type="button" id="toggle-filters">Show/Hide Filters</button>
        </form>
    </div>

    <div id="scrollable-list" class="scrollable-list">
        {{#each items}}
        <div class='list-item'>
            <p>房源编号: {{{hno}}}</p>
            <p>区域: {{{hdistrict}}}</p>
            <p>房源地址: {{{haddr}}}</p>
            <p>房型: {{{hlo}}}</p>
            <p>层数: {{{hflr}}}</p>
            <p>房产面积: {{{harea}}} 平方米</p>
            <p>主要设施: {{{hequip}}}</p>
            <p>租赁价格: {{{hprice}}} 元/月</p>
            <p>房方编号: {{{hlandlore}}}</p>
            <p>挂租时间: {{{hdate}}}</p>
            <a href="/detail?hno={{{hno}}}">详情</a>
        </div>
        {{/each}}
    </div>
</div>
<div id="pagination-container">
    <button id="previousPageButton" onclick="goToPreviousPage()">上一页</button>
    <div id="page-indicator"></div>
    <button id="nextPageButton" onclick="goToNextPage()">下一页</button>
</div>
{{> zufang_scripts}}
{{/inline}}

{{> base}}
